# No log files/DBs
*.log
*.db*

*.ts
!*.d.ts
*.js.map

# No ts files are shipped, so we don't need any config
tsconfig.json

# Make sure js files always get included
!*.js
# However, we don't want to include tests
*.test.js

# No CI/Editor-Specific files
.editorconfig
.prettierrc.json
.vscode/
.github/

# No raw ts source + tests
src/

# License is stated/linked to in package.json
LICENSE
*.md

biome.json

*.test.ts
*.test.d.ts
*.test.js

jsr.json

coverage/
docs/
tsdown.config.ts
